
body {
  color:whitesmoke;
  background-image: url(../img/screen-2.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
}
/*-------------header------------*/


/*-------NAVBAR--------*/

#navigation li {
  display: inline;
}
#navigation {
  margin: 0 ;
  padding: 0 ;
  list-style: none ;
  text-align: center ;
}
#navigation li {
  display: inline ;
  margin-right: 1px ;
  color: #fff ;
  border-radius: 50px 50px 50px 50px;
}
#navigation li a {
  padding: 4px 20px ;
  background:#1475a8;
  color: #fff ;
  border: 1px solid #353535;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
}
#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
  background:#353535 ;
  text-decoration: underline ;
}
strong {
  color: #1475a8;
}
/*---------------Titres--------------*/
h1 {
  font-family: 'Raleway', sans-serif;
  padding-top: 2em;
  text-align: center;
  color: #fff;
  font-size: 3em;
  margin: 0% 25% 10% 25%;
}
h2 { 
  border-spacing: 1em;
  border: 2px solid #9bb8ca;
  padding: .5em;
  text-align: center;
  border-radius: 20px 20px 20px; 
}
h3 {
  border-spacing: 1em;
  border: 2px solid #9bb8ca;
  padding: .5em;
  text-align: center;
  border-radius: 20px 20px 20px;
  margin: 0 25% 0 25%;
}
/*-------------<Div>-------------*/
#blockOne {
  border: rgb(77, 188, 215);
  background-color: rgba(77, 188, 215, 1);
}
.commandLine {
  box-sizing: border-box;
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  }
.actTwo{
  box-sizing: border-box;
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  border-radius: 20px 20px 20px;
  padding: 10px 10px 10px 10px;
}
.manipTerminal {
  box-sizing: border-box;
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  border-radius: 20px 20px 20px;
  padding: 10px 10px 10px 10px;
}
}

}
/*-------footer--------------*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #1475a8;
  width: 100%;
  text-align: center;
}
/*------------ANimation-------------*/
*